
!.env.example
!.env.example
.~lock*
.credentials.json
.DS_Store
.DS_Store
.env
.env
.env.*
.env.*
.envrc
.txt
.vscode/
*.ipynb
*.log
*.png
**/build/
**/dist/
**/node_modules/
/.svelte-kit
/.svelte-kit
/build
/build
/data
/package
/package
bun.lockb
memo.txt
node_modules
node_modules
prisma/migrations*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
