!.env.example
.~lock*
.credentials.json
.DS_Store
.env
.env.*
.envrc
.txt
.vscode/
*.ipynb
*.log
*.png
**/build/
**/dist/
**/node_modules/
/.svelte-kit
/blob-report/
/build
/data
/package
/playwright-report/
/playwright/.cache/
/test-results/
bun.lockb
memo.txt
node_modules
prisma/migrations*
vite.config.ts.timestamp-*
